#home {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    min-height: 50px;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    background: #2b2a2a;
    position: fixed;
    z-index: +1;
    width: 100%;
}


.navbar-brand > img {
    display: block;
    max-width: 30%;
    height: auto !important;
    margin: 0 auto;
}

.logo {
    position: fixed;
    top: 23px;
    right: 511px;
    z-index: +1;
    max-width: 20%;
}

.jumbotron   {
    height: 100vh;
    background-image: url("../img/hackers.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px;
    text-align: center;
}

.jumbotron .h1, .jumbotron h1 {
    color: inherit;
    background-color: rgb(236, 0, 0);
    padding: 3rem;
    margin-top: 2em;
    position: relative;
}

.btn-primary {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.44);
    border-color: white;
    border-width: thick;
    border-radius: 8px;
    font-family: helvetica, arial;
    transform-style: preserve-3d;
    font-size: larger;
    font-weight: bolder;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: helvetica, Arial;
    text-decoration: none;
    padding: .4em;
    position: static;
}

::selection {
    background: #a94442;
    text-shadow: none;
}

#why {
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    font-size: 9px;
    color: #270101;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
    position: relative;
    background-image: url(../img/data.jpeg);
}


.h1, h1 {
    font-size: 36px;
    border: black;
    color: white;
    background: rgba(0, 0, 0, 0.64);
}

.h2, h2 {
    font-size: 30px;
    color: #ff5600;
    text-align: justify;
}

.duration {
    text-align: center;
    border-top:dashed;
    margin:50px;
}

.learn {
    padding: 1em;
    font-size: 2em;
    margin: 1em;
    border-top-style: dotted;
    border-bottom-style: dotted;
    text-align: justify;
}

.icon-mail {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: 2px solid transparent;
    display: block;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 4px;
}

img {
    display: inline;
    height: 5em;
    float: left;
    margin-left: 2em;
    margin-right: 2em;
}

element.style {
    border-radius: 30%;
}

.static {
    margin: 0 0 10px;
    background: black;
    position: static;
    color: white;
    text-align: center;
}

.socialmedia  {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.fa {
    right: 10%;
    bottom: 20%;
    padding: .2em;
    margin: 0 auto;
    color: #ec0000;
    text-align: center;
    float: right;
    background: black;
    border-radius: 50%;
    font-size: 2em;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar {
        min-height: 2em;
        margin-bottom: 0px;
        border: 1px solid transparent;
        padding: 0;
        background: #2b2a2a;
        position: fixed;
        z-index: +1;
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
        text-transform: uppercase;
        font-size: 1em;
        font-family: helvetica, Arial;
        text-decoration: none;
        padding: .4em;
    }
    .navbar-brand > img {
    max-width: 30%;
    height: auto !important;
    margin: 0 auto;
    position: absolute;
    }

    .jumbotron .h1, .jumbotron h1 {
    color: inherit;
    background-color: rgb(236, 0, 0);
    padding: 1em;
    margin-top: 2em;
    position: relative;
    text-align: center;
    font-size: 2em;
    }

.btn-primary {
    color: #fff;
    background-color: rgb(76, 1, 1);
    border-color: white;
    border-width: thick;
    border-radius: 8px;
    font-family: helvetica, arial;
    transform-style: preserve-3d;
    font-size: medium;
    font-weight: bolder;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px)
.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 1em;
    font-family: helvetica, Arial;
    text-decoration: none;
    }

.navbar-brand > img {
    display: block;
    max-width: 30%;
    height: auto !important;
    margin: 0 auto;
    position: absolute;
    top: 1em;
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
    font-size: large;
    font-weight: bold;
    }

@media (min-width: 992px)
.container {
    width: 970px;
}
